@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Salary Finance SDK Demo</h1>
</div>



<hr />

<h2>Modules</h2>

<ul>

    <li>
        <a href="/Employees">
            Employees Module
        </a>
    </li>

    <li>
        <a href="/LoanApplications">
            Loan Applications Module
        </a>
    </li>

    <li>
        <a href="/SalaryAdvances">
            Salary Advances Module
        </a>
    </li>

</ul>