@model SalaryFinanceInterview.ApiClient.SalaryAdvance

<h1>Create Salary Advance</h1>

<form method="post">

    <div>
        <label>Id</label>
        <input asp-for="Id" />
    </div>

    <div>
        <label>Advance Amount</label>
        <input asp-for="AdvanceAmount" />
    </div>

    <br />

    <button type="submit">
        Save
    </button>

</form>